annotated-types
anyio
certifi
charset-normalizer
click
dnspython
docopt
exceptiongroup
fastapi
h11
idna
pipreqs
pydantic
pydantic_core
pymongo
python-dotenv
requests
sniffio
starlette
typing_extensions
urllib3
uvicorn
yarg
spacy[transformers]
spacy