name: Python FastAPI CI/CD

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11.4'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set up environment variables
      env:
        DBUSER: ${{ secrets.MONGODB_USERNAME }}
        DBPASS: ${{ secrets.MONGODB_PASSWORD }}
        DBNAME: ${{ secrets.MONGODB_DATABASE }}
        COLNAME: ${{ secrets.MONGODB_COLLECTION }}
        PORT: ${{ secrets.PORT}}
        RENDER_TOKEN: ${{ secrets.RENDER_TOKEN}}
      run: echo "Environment variables set."
      
    - name: Deploy FastAPI with uvicorn
      if: success()
      run: |
        echo "DBUSER=$DBUSER" > .env
        echo "DBPASS=$DBPASS" >> .env
        echo "DBNAME=$DBNAME" >> .env
        echo "COLNAME=$COLNAME" >> .env
        uvicorn BCard:app --host 0.0.0.0 --port $PORT --env-file .env

    - name: Trigger Deployment on Render.com
      if: success()
      env:
        RENDER_TOKEN: ${{ secrets.RENDER_TOKEN }}
      run: |
        curl -X POST "https://api.render.com/v1/deploys" -H "Authorization: Bearer $RENDER_TOKEN" -H "Content-Type: application/json" -d '{"branch": "master"}'
