name: CI/CD with Python 3.11.4 and Render.com

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    env:
      DBUSER: ${{ secrets.DBUSER }}
      DBPASS: ${{ secrets.DBPASS }}
      DBNAME: ${{ secrets.DBNAME }}
      COLNAME: ${{ secrets.COLNAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Debug - Print environment variables
        run: |
          echo "DBUSER=${DBUSER}"
          echo "DBPASS=${DBPASS}"
          echo "DBNAME=${DBNAME}"
          echo "COLNAME=${COLNAME}"

      - name: Set up Python 3.11.4
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.4
          upgrade-pip: true

      - name: Install dependencies
        run: pip install --upgrade pip && pip install -r requirements.txt

      - name: Build and start the application
        env:
          DBUSER: ${{ env.DBUSER }}
          DBPASS: ${{ env.DBPASS }}
          DBNAME: ${{ env.DBNAME }}
          COLNAME: ${{ env.COLNAME }}
        run: uvicorn BCard:app --host 0.0.0.0 --port 10000
